{% extends 'base.html' %}
{% block body %}
    <canvas id="myChart"></canvas>
    <div id="chart" style="width: 30%;"></div>
    <script>
        const myChart = echarts.init(document.getElementById('myChart'));
        const data = JSON.parse('{{ line | safe }}');
    </script>


{% endblock %}
{% block style %}
    <style>
        .navbar-custom {
            background-image: url("/static/img/bg2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
{% endblock %}
{% block add_button %}
{% endblock %}