<div id="chart" style="width: 800px;height:400px;"></div>
<canvas id="myChart"></canvas>
<script>
    const myChart = echarts.init(document.getElementById('myChart'));
    const data = JSON.parse('{{ line | safe }}');
    myChart.setOption({
        title: {
            text: '销售额与利润'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['销售额 - 利润']
        },
        xAxis: {
            type: 'category',
            data: data.map(function (item) {
                return item[0];
            })
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: '销售额 - 利润',
            data: data.map(function (item) {
                return item[1];
            }),
            type: 'line'
        }],
        backgroundColor: 'rgba(255, 255, 255, 0.5)'
    });
    myChart.dispose();
</script>
